<div class="container">
  <select id="cartSelect"></select>
  <button id="cartButton">Go to cart</button>
  <button id="newCartButtom">Add Cart</button>

  <h1>Product List</h1>
  <div id="products" class="product-grid">
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/store.js"></script>